doctype xml
browserconfig
    msapplication
        tile
            square70x70logo(src=FAVICON_MSTILE_s70_URL)/
            square144x144logo(src=FAVICON_MSTILE_s144_URL)/
            square150x150logo(src=FAVICON_MSTILE_s150_URL)/
            square310x310logo(src=FAVICON_MSTILE_s310_URL)/
            wide310x150logo(src=FAVICON_MSTILE_w310_URL)/
            TileColor
                | #d9d9d9
